h1 {
    font-family: Arial Black;
    font-size: 36px;
    color: black;
}

p {
    font-family: Arial;
    font-size: 16px;
    weight: 400;
    color: black;
}

body {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
}

#logo-header {
    background-color: #004F35;
}
