h1 {
    font-family: "Times New Roman";
    font-size: 48px;
    color: #004F35;
    weight:800;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
}

p {
    font-family: "Times New Roman";
    font-size: 20px;
    weight: 600;
    color: #004F35;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
}



#logo-header {
    background-color: #004F35;
    max-width:100% !important;
    height:auto;
}

.center {
 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
